
body{
   background-color: #79DAE8; 
}


.home{
    font-size: 1.1rem;

}


.container{
    background-color: rgb(239, 234, 216);
    max-width: 700px;
    margin: 0px auto;
    margin-top:-50px;
    margin-bottom: 30px;
    padding-left: 300px; 
    
}

h2{
    color: rgb(49, 49, 168);
    font-size: 2rem;
    margin-left: -100px;
}


.table{
    border: 3px solid black;
    padding: 30px;
    border-radius: 40px; 
    width: 350px;
    background-color: #075966;  
    box-shadow: 5px 5px 6px black;
}


tr, td{
    border: 2px solid rgb(65, 61, 61) ;
    font-family:'Courier New', Courier, monospace ;
    text-align: center;
    font: 1.3em sans-serif;
    height: 30px;
    padding: 0.8rem; 
    border-radius: 40px;
}


.tablehead{
    height: 130px;
    border-radius: 20px;
    background-color: rgb(6, 6, 49);
    box-shadow: 3px 3px 3px  rgb(158, 151, 151);
}


tbody {
    background-color: rgb(213, 223, 216) ;
    border: 2px solid black;
    padding-inline: 10px;   
}


.del{
    background-color: rgb(219, 22, 22);
    box-shadow: 5px 5px 6px black;
}


nav{
    margin-top: -200;
}
