@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    
} 


body{
    min-height: 150vh;
    background-color: #79DAE8; 
    
}

.container{
    background-color: rgb(239, 234, 216);
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 80px;
   
}


.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: -50px;;
    margin-bottom: 60px;
}



.navbar :hover{
    color: red;
}



h2{
    font-weight: 700px;
    font-size: 40px;
    color: #4bc2d4;
    text-align: center;
    margin-bottom: 40px;
    
}


input{
    width: 70%;
    padding: 10px;
    border-radius: 50px;
    border-width: 1px;
}

.gender{

    margin-bottom: 20px; 
}


button{
    width: 80%;
    padding: 10px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 16px;
    color: white;
    background-color: #79DAE8;
    /* border: none; */
    margin-bottom: 33px;
}

