@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #79DAE8;
    font-family: 'Poppins', sans-serif;;
    
       
      
}

.container{
    background-color: rgb(239, 234, 216);
    max-width: 1500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;;
    margin-bottom: 50px;
}

.navbar :hover{
    color: red;
}
 

.span1{
    color: rgb(248, 6, 204);
}


.about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hi{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    
}

#heading{
    font-size: 28px;
    color: #4bc2d4;
    text-align: center;

    
}

#para{
    margin-top: -20px;
    padding: 50px;
    font-size: 20px;
}

.aboutme-content{
    border-radius: 10pc;
    padding: 15px; 
    background-color: rgb(248, 245, 234)  ;
    box-shadow: 10px 10px #79DAE8;
}



.goals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    padding: 100px;
}


.my-goals{
    padding: 50px;
    margin-top: -80px;
    
}
#education ul li{
    padding: 50px;
}


#experience-header{
    margin-top: -50px;
    margin-bottom: -100px;
    text-align: center;
    font-size: 30px;
    color: #4bc2d4;
}

hr{
    width: 1000px;
    height: 2px;
    background-color: gray;
    margin-top: 10px;
    border-bottom: 0;
}

.experience{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.experience1{
    margin-top: 30px;
    padding-right: 80px;
}

.experience2{
    margin-top: -200px;
}



.hobbies{
    text-align: center;
    margin-top: -50px; 
    font-size: 30px;
    color: #4bc2d4;
}

 .hobbies-para{
    text-align: center;
}

#contact-section{
    margin-top: 50px;
    font-size: 30px;
    color: #4bc2d4;
    text-align: center ;
}

.contact{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

input{
    margin: 12px;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
}

